*{
    margin: 0px;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}

div{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}
.card-container{
    width: 100%;
    height: 100%;
    background-image: url('https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQdHbjrX0uL1mH7uUW7VZ-p5GJOSNNRko_9A_12Mlv5wVYQIDy4nuupxLHxkDj9V0e1OLBs_s8ZlxFkyhPlK5XkrlTK0c7yP42LLinQdYhz8lqfgUcOH68JAbEcY45jG02gCI1NyKVf1lqxsQFmcNN5szbv8.jpg?r=aee');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: lightcoral;
    color: black
    
}

 /* card 1 */


.card-1{
    width: 300px;
    height: 400px;
    border: 2px solid red;
    background-color: rgb(255, 255,255);
    gap: 10px;
    display: block;
    direction: column;
}

.card-1 .card-top{
    width: 90%;
    height: 70%;
    margin: 10px auto;
    /* background-color: #f0f; */
    background-image: url('https://m.media-amazon.com/images/M/MV5BOTBhMTI1NDQtYmU4Mi00MjYyLTk5MjEtZjllMDkxOWY3ZGRhXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0.3px center;
    border: 2px solid black;

    
}
 /* card 2 */
.card-2{
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255,255);
    color: black;
}

.card-3{
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255,255);
}